.aside {
  display: grid;
  // width: 100%;
  grid-area: aside;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  // grid-template-rows: repeat(9, minmax(auto, auto));
  align-content: start;
}

.aside-title {
  padding-bottom: 20px;

  text-transform: uppercase;

  font-family: $karla;
  font-size: 26px;
  font-weight: 700;

  &::after {
    position: absolute;

    display: block;

    width: 50%;
    height: 2px;
    margin-top: 20px;

    content: "";

    background-color: $color-point;
  }
}
.profile {
  position: relative;
  &__inner {
    position: relative;

    display: grid;

    padding-top: 50px;

    border-top: 4px solid $color-point;

    grid-gap: 20px;
    grid-template-rows: 2fr 0.8fr 1fr;
    justify-items: center;
  }

  &__img {
    width: 180px;
    height: 180px;

    border-radius: 50%;
    background-color: rgb(228, 226, 226);
    background-image: url(../img/img-man.png);
    background-repeat: no-repeat;
    // background-position: 0 0;
    background-size: cover;
  }

  &__title {
    text-align: center;
  }

  &__title-name {
    margin-bottom: 8px;

    text-transform: uppercase;

    color: $color-point;

    font-family: $karla;
    // grid-row: 2 / span 4;
    font-size: 20px;
    font-weight: 700;
  }

  &__title-major {
    text-transform: uppercase;

    font-family: $karla;
    // grid-row: 2 / 4;
    // grid-row: start;
    font-size: 16px;
    font-weight: 500;
  }
}


.social-profile {
  position: relative;

  padding: 25px;

  text-align: center;

  border: 2px solid #000000;


  &__text {
    position: absolute;
    z-index: 1;
    top: -10px;
    right: 0;
    left: 0;

    width: 130px;
    height: 20px;
    margin: 0 auto;

    text-transform: uppercase;

    background: #fafafa;

    font-family: $karla;
    font-size: 20px;
    font-weight: 700;;
  }
}


.recentPost {
  position: relative;
  &__inner {
    position: relative;
    display: block;
  }



  &__list {
    display: grid;

    padding-top: 24px;

    border-top: 2px solid $header-bg;

    grid-gap: 30px;
  }


  &__item {
    position: relative;
    display: block;
  }

  &__link{
    display: grid;

    grid-gap: 15px;
    grid-template-columns: 85px 1fr;
    // grid-template-rows: auto auto;


  &:hover{
    background-color: rgb(221, 216, 216);
  }

    
  }

  &__item-title {
    align-self: end;

    text-transform: uppercase;

    color: $color-point;

    font-family: $karla;
    font-size: 18px;
    font-weight: 500;
  }

  &__item-text {
    font-family: $karla;
    font-size: 14px;
  }
}


.recentPost__item .date-articles {
  align-self: start;

  margin: 0;

  border-radius: 0;
}


.categories {
  position: relative;
  &__inner {
    position: relative;
    display: block;
  }

  &__item{
    position: relative;
    display: block;
  }

  &__list {
    display: grid;

    padding-top: 24px;

    border-top: 2px solid $header-bg;

    grid-gap: 6px;
  }


  &__item {
    //  display: grid;
    //  grid-template-columns: 0.5fr 5fr 0.5fr;
    //  align-items: center;
    //  cursor: pointer;

    //  &:hover{
    //    background-color: $header-bg;
    //    color: $text-white;
    //  }
  }

  &__item-link {
    display: grid;
    align-items: center;

    grid-template-columns: 0.5fr 5fr 0.5fr;

    &:hover {
      color: $text-white;
      background-color: $header-bg;
    }
  }

  &__arrow {
    width: 40px;
    height: 40px;

    color: $text-white;
    background-color: $header-bg;
    background-image: url(../img/img-arrowRight-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  &__item-text {
    padding-left: 16px;

    text-transform: uppercase;

    font-family: $karla;
    font-size: 14px;
    font-weight: 600;
  }

  &__item-likes {
    display: grid;
    align-items: center;

    width: 25px;
    height: 25px;

    text-align: center;

    border-radius: 50%;
    background-color: $color-point;
  }
  &__item-likes-text {
    color: $text-white;

    font-family: $karla;
    font-size: 14px;
  }
}

.decor {
  position: relative;
  &__inner {
    position: relative;

    width: 100%;
 

    border: 30px solid $header-bg;
  }

  &__item {
    width: 100%;

    position: relative;
    text-align: center;

    border: 5px solid $text-white;
    // background-image: url(../img/img-decor3.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
  }

  &__img{
    width: 100%;

  }

  &__item-text {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
 
    font-family: $mark;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  &__item-text--span {
    display: block;
  }
}



.flickr {
  position: relative;
  &__inner {
    display: block;
    position: relative;
  }

  &__list {
    display: grid;

    padding-top: 24px;

    border-top: 2px solid $header-bg;

    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

 

  &__item {
    width: 120px;
    height: 120px;

    // &:hover{
    //   border: 5px solid $header-bg;
    // }
  }


  &__link{
    width: 100%;
    height: 100%;
    display: grid;
    // align-items: center;
    &:hover{
      border: 8px solid $header-bg;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

  
  }
}


.video {
  display: block;
  position: relative;
  &__inner {
    display: block;
    position: relative;
  }

  &__item {
    display: grid;

    // width: 100%;
    height: 350px;
    // padding-right: 10px;

    background-color: #8f8e8e;

    // grid-template-rows: 1fr 1.5fr;
    justify-items: center;
  }

  

  &__item-text {
    align-self: center;

    text-align: center;
    text-transform: uppercase;

    color: $text-white;

    font-family: $karla;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
  }

  &__item-text--span {
    display: block;
  }

  &__item-text--color {
    color: $color-point;

    font-weight: 700;
  }

  &__item-play {
    display: grid;
    align-items: center;

    width: 60px;
    height: 60px;
    padding-left: 5px;

    border-radius: 50%;
    background-color: rgba(#f3f3f3, 0.3);

    justify-items: center;
  }
}




@media (min-width: 800px) and (max-width: 1169px) {

  .aside{
    // grid-template-rows: repeat(17, auto);
  }

.profile{
  
  &__inner{
    grid-template-rows: 1fr 0.6fr 0.6fr;
  }
  &__img{
    width: 140px;
    height: 140px;
  }

  &__title-name{
    font-size: 16px;
  }

  &__title-major{
    font-size: 14px;
  }
}

.social-profile{

  padding: 20px;
  // width: 60%;
  display: grid;
  justify-items:center;
  
    &__text{
    font-size: 14px;
    width: 68px;
  }
}

.social-links--profile{
  grid-template-columns: 1fr 1fr;
    // grid-template-columns: 30px 30px;
    justify-items: center;
    grid-gap: 10px;

  
}


.social__item{

  &:nth-child(n+5):nth-child(n) {
    display: none;
  }
 }



.flickr{


  &__list{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  &__item{

    &:nth-child(odd){
      display: none;
    }
  }
}

.decor{

  &__inner{
    // height: auto;
  }

  &__item{
    // height: 100%;
  }

  &__item-text{
    top: 4%;
    font-size: 30px;
  }

  &__img{
    // height: 100%;
  }
 
}

.video{

  &__item{
    height: 250px;
  }

  &__item-text{
    // padding-top: 20px;
    // margin-bottom: 10px;
  }
}

.video iframe{
  height: 250px;
}

}
@media (min-width: 600px) and (max-width: 799px) {
  .aside{
    // grid-template-rows: repeat(18, auto);
  }
  .aside-title{
    font-size: 20px;
  }
  .profile{
  
    &__inner{
      grid-template-rows: 1fr 0.6fr 0.6fr;
    }
    &__img{
      width: 100px;
      height: 100px;
    }
  
    &__title-name{
      font-size: 16px;
    }
  
    &__title-major{
      font-size: 14px;
    }
  }
  
  .social-profile{

    padding: 20px;
    // width: 60%;
    display: grid;
    justify-items:center;
    
      &__text{
      font-size: 14px;
      width: 60px;
    }
  }

  .social-links--profile{
 
      // grid-template-columns: 30px 30px;
      justify-items: center;
      grid-gap: 10px;
    
  }

  .recentPost{

    &__list{
      grid-gap: 40px;
    }

    &__item-title{
      font-size: 16px;
    }
    &__link{
      grid-template-columns: 1fr;
      justify-items:center;
      grid-gap: 10px;
    }
  }

  .recentPost .date-articles{
    width: 65px;
    height: 65px;
    justify-self: center;

    &__day{
      font-size: 20px;
    }
    &__month{
      font-size: 10px;
    }
  }

  .categories{

    &__item-link{
      // grid-template-columns: 0.2fr 5fr 0.5fr;
    }

    &__item-text{
      font-size: 12px;
      padding-left: 6px;
    }

    &__item-likes{
      width: 18px;
      height: 18px;
    }

    &__item-likes-text{
      font-size: 10px;
    }

    &__arrow{
      width: 30px;
      height: 30px;
    }
  }
  
  .flickr{
 
    &__list{
      grid-template-columns: 1fr;
      grid-gap: 10px;
      justify-items: center;
    }

    &__item{
      width: 100%;
      // height: auto;
      &:nth-child(n+5):nth-child(n) {
        display: none;
      }
    }
  }
  
  .decor{
    
    &__inner{
      // height: auto;
      border: 15px solid $header-bg;
    }
  
    &__item{
      // height: 100%;
      border: 3px solid $text-white;
    }
  
    &__img{
      // height: 100%;
    }

    &__item-text{
      font-size: 16px;
    }
   
  }
  
  .video{

    &__item{
      height: 150px;
    }

    &__item-text{
      font-size: 18px;
      padding-top: 20px;
      margin-bottom: 10px;
    }

    &__item-play{
     
      width: 45px;
      height: 45px;
    }
  }
  
  .video iframe{
    height: auto;
  }
}


@media (min-width: 450px) and (max-width: 599px) {
  .aside{
    justify-items: center;
    // display: none;
    order: 1;
    // grid-area: none;
    // grid-template-rows: repeat(5, auto);
    grid-gap: 60px;
  }
  .aside-title{
    font-size: 20px;
  }
  .profile{
    display: none;
  }

  .profile--sm{
    .profile{
  
      &__inner{
        grid-template-rows: 1fr 0.6fr 0.6fr;
      }
      &__img{
        width: 150px;
        height: 150px;
      }
    
      &__title-name{
        font-size: 20px;
      }
    
      &__title-major{
        font-size: 14px;
      }
    }
  }
  
  .social-profile{

    padding: 30px;
    // width: 60%;
    display: grid;
    justify-items:center;
    
      &__text{
      font-size: 18px;
      width: 80px;
      top: -16px;
    }
  }

  .social-links--profile{
 
      // grid-template-columns: 30px 30px;
      justify-items: center;
      grid-gap: 10px;
    
  }

  .recentPost{

    &__list{
      // grid-gap: 40px;
    }

    &__item-title{
      font-size: 16px;
    }
    &__link{
      grid-template-columns: 0.5fr 1fr;
      // justify-items:center;
      grid-gap: 10px;
    }
  }

  .recentPost .date-articles{
    width: 65px;
    height: 65px;
    justify-self: center;

    &__day{
      font-size: 20px;
    }
    &__month{
      font-size: 10px;
    }
  }

  .categories{
    display: none;
  }
  .categories--sm{
    .categories{

      &__list{
        display: grid;
        justify-items: center;
      }

     &__item{
       width: 60%;
      background-color: rgb(233, 230, 230);
     
     } 
    &__item-link{
      justify-items: center;
      grid-template-columns: 0.2fr 5fr 0.5fr;
    }

    &__item-text{
      font-size: 13px;
      padding-left: 12px;
    }

    &__item-likes{
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    &__item-likes-text{
      font-size: 10px;
    }

    &__arrow{
      width: 30px;
      height: 30px;
    }
  }
  }
  
  .flickr{
 
    // &__list{
    //   grid-template-columns: 1fr;
    //   grid-gap: 10px;
    //   justify-items: center;
    // }

    // &__item{
    //   width: 50%;
    //   height: auto;
    //   &:nth-child(n+6):nth-child(n) {
    //     display: none;
    //   }
    // }
    &__list{
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  
    &__item{
      width: auto;
      height: auto;
      &:nth-child(odd){
        display: none;
      }
    }
  }
  
  .decor{
    display: none;
    }
  
  .video{
    // width: 90%;
    &__item{
      width: 280px;
      height: 200px;
    }

    &__item-text{
      font-size: 18px;
      padding-top: 20px;
      margin-bottom: 10px;
    }

    &__item-play{
     
      width: 45px;
      height: 45px;
    }
  }
  
  .video iframe{
    height: 200px;
  }
}



@media (max-width: 449px) {
  .aside{
    justify-items: center;
    // display: none;
    order: 1;
    // grid-area: none;
    // grid-template-rows: repeat(5, auto);
    grid-gap: 60px;
  }
  .aside-title{
    font-size: 20px;
  }
  .profile{
    display: none;
  }

  .profile--sm{
    .profile{
  
      &__inner{
        grid-template-rows: 1fr 0.6fr 0.6fr;
      }
      &__img{
        width: 150px;
        height: 150px;
      }
    
      &__title-name{
        font-size: 20px;
      }
    
      &__title-major{
        font-size: 14px;
      }
    }
  }
  
  .social-profile{

    padding: 20px;
    // width: 60%;
    display: grid;
    justify-items:center;
    
      &__text{
      font-size: 14px;
      width: 60px;
    }
  }

  .social-links--profile{
 
      // grid-template-columns: 30px 30px;
      justify-items: center;
      grid-gap: 10px;
    
  }

  .recentPost{

    &__list{
      // grid-gap: 40px;
    }

    &__item-title{
      font-size: 16px;
    }
    &__link{
      // grid-template-columns: 0.5fr 1fr;
      // justify-items:center;
      grid-gap: 10px;
    }
  }

  .recentPost .date-articles{
    width: 65px;
    height: 65px;
    justify-self: center;

    &__day{
      font-size: 20px;
    }
    &__month{
      font-size: 10px;
    }
  }

  .categories{
    display: none;
  }
  .categories--sm{
    .categories{

      &__list{
        display: grid;
        justify-items: center;
      }

     &__item{
       width: 60%;
      background-color: rgb(233, 230, 230);
     
     } 
    &__item-link{
      justify-items: center;
      grid-template-columns: 0.2fr 5fr 0.5fr;
    }

    &__item-text{
      font-size: 13px;
      padding-left: 12px;
    }

    &__item-likes{
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    &__item-likes-text{
      font-size: 10px;
    }

    &__arrow{
      width: 30px;
      height: 30px;
    }
  }
  }
  
  .flickr{
 
    // &__list{
    //   grid-template-columns: 1fr;
    //   grid-gap: 10px;
    //   justify-items: center;
    // }

    // &__item{
    //   width: 50%;
    //   height: auto;
    //   &:nth-child(n+6):nth-child(n) {
    //     display: none;
    //   }
    // }
    &__list{
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  
    &__item{
      width: auto;
      height: auto;
      &:nth-child(odd){
        display: none;
      }
    }
  }
  
  .decor{
    display: none;
  }
  
  .video{
    // width: 90%;
    &__item{
      width: 280px;
      height: 200px;
    }

    &__item-text{
      font-size: 18px;
      padding-top: 20px;
      margin-bottom: 10px;
    }

    &__item-play{
     
      width: 45px;
      height: 45px;
    }
  }
  
  .video iframe{
    height: 200px;
  }
}