.aside{
  grid-area: aside;

  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(36, minmax(auto, auto));

}


.profile{

  &__inner{
    padding-top: 50px;
    position: relative;
    border-top: 4px solid red;
    display: grid;
    grid-template-rows: 2fr 0.8fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }

  &__img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(../img/img-man.png);
    background-repeat: no-repeat;
    // background-position: 0 0;
    background-size: cover;
    background-color: rgb(228, 226, 226);
  }

  &__title{
    text-align: center;

  }

  &__title-name{
    // grid-row: 2 / span 4;
    font-size: 20px;
    font-family: $karla;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-point;
    margin-bottom: 8px;
  }

  &__title-major{
    // grid-row: 2 / 4;
    // grid-row: start;
    font-size: 16px;
    font-family: $karla;
    font-weight: 500;
    text-transform: uppercase;
  }
}


.social{
  text-align: center;
  border: 2px solid #000;
  padding: 25px;
  position: relative;


  &__text{
    width: 130px;
    height: 20px;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    font-family: $karla;
    text-transform: uppercase;
  }
}


.recentPost{

 &__inner{
  position: relative;
 }
 
 &__title{
   font-size: 26px;
   font-family: $karla;
   text-transform: uppercase;
   font-weight: 700;
   padding-bottom: 20px;



  &::after{
    content: "";
    margin-top: 20px;
    position: absolute;
    margin-bottom: -2px;
    display: block;
    width: 50%;
    height: 2px;
    background-color: $color-point; 
  } 
 }

 &__list{
   display: grid;
   grid-gap: 30px;
   padding-top: 24px;
   border-top: 2px solid $header-bg;
 }


 &__item{
   position: relative;
   display: grid;
   grid-template-columns: 85px 1fr;
   grid-gap: 15px;
   grid-template-rows: auto auto;
 }

 &__item-title{
    align-self: end;
    font-size: 18px;
    font-weight: 500;
    font-family: $karla;
    text-transform: uppercase;
    color: $color-point;
 }

 &__item-text{
  font-size: 14px;
  font-family: $karla;
 }
 



}


.recentPost__item .date-articles {
  border-radius: 0;
  margin: 0;
  align-self: start;
}


.categories{


  &__inner{
    position: relative;
  }

 &__title{
  font-size: 26px;
  font-family: $karla;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;

  &::after{
    content: "";
    margin-top: 20px;
    position: absolute;
    margin-bottom: -2px;
    display: block;
    width: 50%;
    height: 2px;
    background-color: $color-point; 
  } 
 }
 
 &__list{
  display: grid;
  grid-gap: 6px;
  padding-top: 24px;
  border-top: 2px solid $header-bg;
 }


 &__item{
   display: grid;
   grid-template-columns: 0.5fr 5fr 0.5fr;
   align-items: center;
   cursor: pointer;

   &:hover{
     background-color: $header-bg;
     color: $text-white;
   }
 }

 &__arrow{
   width: 40px;
   height: 40px;
   background-color: $header-bg;
   color: $text-white;
   background-image: url(../img/img-arrowRight-sm.svg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
 }

 &__item-text{
   padding-left: 16px;
  font-size: 14px;
  font-family: $karla;
  text-transform: uppercase;
  font-weight: 600;
 }

 &__item-likes{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: $color-point;
   text-align: center;
    display: grid;
    align-items: center;
 }
  &__item-likes-text{
    font-size: 14px;
    font-family: $karla;
    color: $text-white;
  }
 }
