.main {
  display: grid;

  grid-area: main;
  grid-gap: 80px;
  grid-template-columns: 1fr;
}

.profile--sm{
  display: none;
}

.categories--sm{
  display: none;
}


.articles {
  &__inner {
    display: grid;
    // grid-template-rows: 17fr 3fr 3fr 1fr;

    grid-gap: 80px;
    grid-template-columns: 1fr;
    // grid-template-areas: 
    // "img img"
    // "title title"
    // "text text"
    // "social btn"
    // ;
  }

  &__item {
    position: relative;

    display: grid;

    grid-gap: 30px;
    grid-template-areas: "img img"
    "title title"
    "text text"
    "social btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 40px 1fr 45px;
    
  }


  &__img {
    height: 500px;

    grid-area: img;
  }

  &__title {
    position: absolute;
    top: -94px;

    display: grid;

    width: 694px;
    height: 134px;
    // left: 42px;
    // right:0;

    background-color: rgba(#ffffff, 1);

    grid-area: title;
    grid-gap: 20px;
    grid-template-columns: 12px 4fr 1fr;

    // grid-template-rows: 134px;

    &::before {
      width: 12px;
      height: 100%;

      content: "";

      background-color: $color-point;

      grid-row: span 2;
    }
  }

  &__title-headline {
    align-self: end;

    margin-left: 20px;
    padding-bottom: 5px;

    text-transform: uppercase;

    font-family: $karla;
    font-size: 22px;
    font-weight: 500;
  }

  &__title-tags {
    display: grid;
    order: 1;
    // justify-items: center;

    text-transform: uppercase;

    font-family: $karla;
    font-size: 14px;

    grid-gap: 15px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
  }

  &__title-tags--profile {

    &::before {
      display: inline-block;

      width: 20px;
      height: 12px;
      margin-right: 4px;

      content: "";

      background-image: url(../img/img-user.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }
  }

  &__title-tags--folder {
    &::before {
      display: inline-block;

      width: 20px;
      height: 12px;
      margin-right: 4px;

      content: "";

      background-image: url(../img/img-folder.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }
  }

  &__title-tags--comment {
    &::before {
      display: inline-block;

      width: 18px;
      height: 12px;
      margin-right: 4px;

      content: "";

      background-image: url(../img/img-comment.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }
  }


  &__title-tags--view {
    &::before {
      display: inline-block;

      width: 20px;
      height: 10px;
      margin-right: 4px;

      content: "";

      background-image: url(../img/img-view.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
  }


  &__text {
    text-align: justify;

    font-family: $karla;
    font-size: 14px;
    line-height: 26px;

    grid-area: text;

    &::first-letter {
      text-transform: uppercase;

      font-size: 22px;
      font-weight: 700;
    }
  }

  &__links {
    display: grid;
    align-items: center;

    grid-area: social;
    grid-gap: 16px;
    grid-template-columns: auto 1fr;
  }

  &__links-text {
    text-transform: uppercase;

    font-family: $karla;
    font-size: 20px;
    font-weight: 500;
  }
}

.date-articles {
  display: grid;
  align-self: center;

  width: 85px;
  height: 85px;
  margin-right: 26px;

  border-radius: 50%;
  background-color: $header-bg;

  grid-row: span 2;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-self: end;

  &__day {
    align-self: end;

    padding-top: 17px;

    color: $text-white;

    font-family: $karla;
    font-size: 30px;
    font-weight: 700;
  }

  &__month {
    text-transform: uppercase;

    color: $text-white;

    font-family: $karla;
    font-size: 13px;
  }
}

.social-links {
  display: grid;

  grid-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-self: start;
  &__item {
    width: 40px;
    height: 40px;

    cursor: pointer;

    border-radius: 50%;
    transition: all 0.3s ease-out;

    &:hover{
      transform: scale(1.2);
      transition: all 0.3s ease-out;
    }
  }

  &__item--twitter {
    background-color: #40bff5;
    background-image: url(..//img/img-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--fb {
    background-color: #5d82d1;
    background-image: url(..//img/img-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--google {
    background-color: #eb5e4c;
    background-image: url(..//img/img-google.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--linkedin {
    background-color: #01649b;
    background-image: url(..//img/img-linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--pinterest {
    background-color: #bd081b;
    background-image: url(..//img/img-pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn {
  grid-area: btn;
  justify-self: end;
}

.btn-more {
  display: flex;
  align-items: center;

  width: 140px;
  height: 40px;
  padding: 0;

  cursor: pointer;
  text-transform: uppercase;

  color: $text-white;
  border: none;
  background-color: $header-bg;

  font-family: $karla;
  font-size: 16px;
  font-weight: 500;


  &::before {
    display: inline-block;

    width: 6px;
    height: 40px;
    margin-right: 18px;
    margin-left: -2px;

    content: "";

    background-color: $color-point;
    transition: all 0.3s ease-out;
  }

  &:hover{
    &::before {
      width: 20px;
      margin-left:-14px;
      transition: all 0.3s ease-out;
    }
  }
}


.articles-sm {
  &__inner {
    display: grid;

    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    grid-auto-flow: row;
    
    // grid-template-rows: 
    // grid-template-rows: auto;
    // grid-auto-rows: 1fr;
    // grid-template-rows: repeat(auto-fill, 800px);
  }

  &__item {
    position: relative;

    display: grid;

    grid-gap: 28px;
    // grid-template-columns: 1fr;
    // grid-template-rows: 250px 25px 1fr 50px ;
    // grid-template-rows: 1fr;
    // grid-auto-flow: row;
    // align-items:stretch;
    
  }

  &__item-img {
    width: 374px;
    // height: 250px;
  }

  &__item-title {
    text-transform: uppercase;

    color: $color-point;

    font-family: $karla;
    font-size: 22px;
    font-weight: 700;
  }

  &__item-text {
    color: #555555;

    font-family: $karla;
    font-size: 14px;
    line-height: 24px;

    &::first-letter {
      text-transform: uppercase;

      font-size: 22px;
      font-weight: 700;
    }
  }
}


.articles-sm__item .date-articles {
  position: absolute;
  top: 10px;
  left: 50px;
  // right: 0;
  // margin: 0 auto;
}

.articles-sm__item .btn-more {
  justify-self: end;
  align-self: end;
}



.advertisement {
  &__block {
    display: grid;
    align-items: center;

    width: 100%;
    height: 160px;

    background-color: rgb(143, 142, 142);

    justify-items: center;
    // text-align: сenter;
  }
  &__link{
    width: 100%;
    text-align: center;
  }

  &__img{
    width: 100%;
    height: 160px;
  }

  &__block-text {
    text-transform: uppercase;

    color: $text-white;

    font-family: $karla;
    font-size: 30px;
    font-weight: 700;
  }

  &__block-text--span {
    color: $color-point;
  }
}

.page-numbers{
  height: auto;
  &__inner{
    position: relative;
  }

  &__list{
    display: grid;
    width: 50%;
    min-height: 50px;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
  }

  &__item{
  
  }

  &__link{
    padding: 10px 14px;
    // border: 4px solid #e9e9e9;
    border: 4px solid rgba(59, 42, 78, 0.5);
    font-size: 20px;
    font-weight: 600;
    // color: rgba(0, 0, 0, 0.3);
    color: rgba(59, 42, 78, 0.5);

    &:hover{
    //  border:4px solid rgba(0, 0, 0, 0.3);
    border: 4px solid rgba(59, 42, 78, 0.8);
 
     color: rgba(59, 42, 78, 0.8);
     text-decoration: underline;
    }
  }

  &__link--active{
    padding: 14px 18px;
    border: none;
    background-color: rgba(59, 42, 78, 0.8);
    color: $text-white;

    &:hover{
      border:none;
  
      color: #000;
      text-decoration: underline;
     }
  }

 &__link--dots{
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);

  &:hover{
    color: #000;
   }
 } 
}




@media (min-width: 800px) and (max-width: 1169px) {
  .articles{

   &__title{
     width: 90%;
     grid-template-columns: 12px 2.5fr 2fr;
     grid-gap: 16px;
    
   }
   
   &__title-tags{
     width: 80%;
     grid-template-columns: repeat(2, 150px);
     grid-template-rows: 20px 20px;
     grid-gap: 10px;
   }

   &__title-headline{
     font-size: 20px;
     margin-left: 10px;
   }

   .date-articles{
     margin-right: 10px;
     width: 70px;
     height: 70px;

     &__day{
       font-size: 20px;
       padding-top: 19px;
     }

     &__month{
      font-size: 8px;

    }
   }

  }


}
@media (min-width: 600px) and (max-width: 799px) {
  .articles{

    &__item{
      grid-template-rows: auto 40px 1fr 90px;
    }

    &__img{
      height: auto;
    }

    &__title{
      width: 90%;
      height: 115px;
      top: -82px;
      grid-gap: 20px;
      grid-template-columns: 12px 1fr 1fr;
      grid-template-rows: auto auto;
     
    }
    
    &__title-tags{
      width: 80%;
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: 20px 20px;
      grid-gap: 10px 20px;
      font-size: 12px;
    }

    
 
    &__title-headline{
      font-size: 16px;
      margin-left: 5px;
    }
 
    
    }

    .date-articles{
 
      width: 70px;
      height: 70px;
 
 
      &__day{
        font-size: 20px;
        padding-top: 19px;
      }
 
      &__month{
       font-size: 8px;
 
     }
    }
    
   .social-links{
     grid-template-columns: 1fr 1fr;

     &__item{

      &:nth-child(n+5):nth-child(n) {
        display: none;
      }
     }
   }
   

   .btn{
     align-self: center;
   }

   .articles-sm{

    &__item{
      grid-template-rows: auto 25px 1fr 50px;
    }

    &__item-img{
      width: 100%;
      height: auto;
    }
   }

   .articles-sm .date-articles{
    
     left: 2%;
   }
  .advertisement{

    &__block-text{
      font-size: 22px;
    }
  } 
 
}

@media (min-width: 450px) and (max-width: 599px) {
  .main{
    // grid-area: none;
    // display: none;
    grid-gap: 80px;
  }

  .profile--sm{
    display: block;
    
  }
  
  .categories--sm{
    display: block;
  }
  .articles{

    &__item{
      grid-template-rows: auto 40px 1fr 120px;
      grid-gap: 18px;
    }

    &__img{
      height: auto;
    }

    &__title{
      width: 90%;
      height: 115px;
      top: -82px;
      grid-gap: 12px;
      grid-template-columns: 12px 1fr 1fr;
      grid-template-rows: auto auto;
     
    }
    
    &__title-tags{
      width: 80%;
      grid-template-columns: repeat(2, 90px);
      grid-template-rows: 20px 20px;
      grid-gap: 5px;
      font-size: 10px;
    }

    
 
    &__title-headline{
      font-size: 16px;
      margin-left: 5px;
    }

    &__links{
      // grid-template-columns: 1fr 1fr;
      justify-items:center;
    }
 
    
    }

    .social-links{
      justify-self: center;
    }

    .date-articles{
      // display: none;
      width: 60px;
      height: 60px;
 
 
      &__day{
        font-size: 14px;
        padding-top: 0;
      }
 
      &__month{
       font-size: 10px;
 
     }
    }
    
   
   
   .btn{
    align-self: center;
    justify-self:center;
   }
   .btn-more{
     width: 100px;
    font-size: 12px;
 
    //  display: none;

    &::before{
      margin-right: 10px;
    }
   }

   .articles-sm{

    &__inner{
      grid-template-columns: 1fr;
    }
    &__item{
      grid-template-rows: auto 25px 1fr 50px;
    }

    &__item-title{
      font-size: 18px;
    }

    &__item-img{
      width: 100%;
      height: auto;
    }
   }

   .articles-sm .date-articles{
     left: 2%;
     width: 65px;
     height: 65px;

     
     &__day{
      font-size: 18px;
      padding-top: 0;
    }

    &__month{
     font-size: 10px;

   }
   }
  .advertisement{

    &__block-text{
      font-size: 22px;
    }
  } 

  .page-numbers{
    // display: none;
  }
}

@media (max-width: 449px) {
  .main{
    // grid-area: none;
    // display: none;
    grid-gap: 80px;
  }

  .profile--sm{
    display: block;
    
  }
  
  .categories--sm{
    display: block;
  }
  .articles{

    &__item{
      grid-template-rows: auto 40px 1fr 120px;
    }

    &__img{
      height: auto;
    }

    &__title{
      width: 90%;
      height: 115px;
      top: -82px;
      grid-gap: 12px;
      grid-template-columns: 12px 1fr 1fr;
      grid-template-rows: auto auto;
     
    }
    
    &__title-tags{
      width: 80%;
      grid-template-columns: repeat(2, 90px);
      grid-template-rows: 20px 20px;
      grid-gap: 5px;
      font-size: 10px;
    }

    
 
    &__title-headline{
      font-size: 16px;
      margin-left: 5px;
    }

    &__links{
      grid-template-columns: 1fr;
      justify-items:center;
    }
 
    
    }

    .social-links{
      justify-self: center;
    }

    .date-articles{
      // display: none;
      width: 45px;
      height: 45px;
 
 
      &__day{
        font-size: 10px;
        padding-top: 0;
      }
 
      &__month{
       font-size: 6px;
 
     }
    }
    
   .social-links{
     grid-template-columns: 1fr 1fr;

     &__item{

      &:nth-child(n+5):nth-child(n) {
        display: none;
      }
     }
   }
   
   .btn{
    align-self: center;
    justify-self:center;
   }
   .btn-more{
     width: 100px;
    font-size: 12px;
 
    //  display: none;

    &::before{
      margin-right: 10px;
    }
   }

   .articles-sm{

    &__inner{
      grid-template-columns: 1fr;
    }
    &__item{
      grid-template-rows: auto 25px 1fr 50px;
    }

    &__item-title{
      font-size: 18px;
    }

    &__item-img{
      width: 100%;
      height: auto;
    }
   }

   .articles-sm .date-articles{
     left: 2%;
     width: 65px;
     height: 65px;

     
     &__day{
      font-size: 18px;
      padding-top: 0;
    }

    &__month{
     font-size: 10px;

   }
   }
  .advertisement{

    &__block-text{
      font-size: 22px;
    }
  } 

  .page-numbers{
    // display: none;
  }
}